$img-height:(
    height1:100%,
    height2:80%
);

$img-width:(
    width1:100%,
    width2:80%
);


@function height($img-heights){
    @return map-get($img-height,$img-heights)
}

@function width($img-widths){
    @return map-get($img-width,$img-widths)
}

.glide{
    
        .glide--container{
            height: 100%;
            width:100%;
            background-color:color(_palette(fg));
            
        }

         .glide--item{
            position:relative!important;
         }

				 @include breakpoint(small) {
					
						> .glide--item{
						width: 70%;
						height:480px!important;
						
					 	}
					
					 }
				
                    }

   